@charset "UTF-8";
@import "/node_modules/modern-normalize/modern-normalize.css";
/* FONTS */
@font-face {
  font-family: "ObjectSans-Thin";
  src: url("/assets/fonts/object-sans/ObjectSans-Thin.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Thin.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Thin.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Thin.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Thin.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Thin.svg#ObjectSans-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ObjectSans-Regular";
  src: url("/assets/fonts/object-sans/ObjectSans-Regular.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Regular.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Regular.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Regular.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Regular.svg#ObjectSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ObjectSans-Bold";
  src: url("/assets/fonts/object-sans/ObjectSans-Bold.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Bold.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Bold.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Bold.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Bold.svg#ObjectSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ObjectSans-Heavy";
  src: url("/assets/fonts/object-sans/ObjectSans-Heavy.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Heavy.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Heavy.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Heavy.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Heavy.svg#ObjectSans-Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ICON FONTS */
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icon-fonts/icomoon.eot?lpuwsi");
  src: url("/assets/fonts/icon-fonts/icomoon.eot?lpuwsi#iefix") format("embedded-opentype"), url("/assets/fonts/icon-fonts/icomoon.ttf?lpuwsi") format("truetype"), url("/assets/fonts/icon-fonts/icomoon.woff?lpuwsi") format("woff"), url("/assets/fonts/icon-fonts/icomoon.svg?lpuwsi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/** BASE STYLES **/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  width: 100vw;
  max-width: 100;
  height: 100%;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  width: 100%;
}

.page-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 320px) {
  .page-wrap {
    padding: 0 calc(16px + (120 - 16) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  .page-wrap {
    padding: 0 120px;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

/* TYPOGRAPHY */
/* Heading styles */
h1,
h2,
h3,
h4 {
  font-family: "ObjectSans-Bold";
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 113px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(113px + (600 - 113) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  h1 {
    font-size: 600px;
  }
}

h2 {
  font-size: 28px;
  line-height: 1.2;
}
@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(28px + (80 - 28) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  h2 {
    font-size: 80px;
  }
}

h3 {
  font-size: 64px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(64px + (160 - 64) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  h3 {
    font-size: 160px;
  }
}

/* Paragraph styles */
p {
  font-family: "ObjectSans-Regular";
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 320px) {
  p {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  p {
    font-size: 20px;
  }
}

/* Anchor styles */
a {
  position: relative;
  padding: 10px 5px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

/* ICONS */
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-media_twitter_icon:before {
  content: "";
}

.icon-mail_social-media_icon:before {
  content: "";
}

.icon-intsagram_social-media_icon:before {
  content: "";
}

.icon-facebook_social-media_icon:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-coin-dollar:before {
  content: "";
}

.icon-glass:before {
  content: "";
}

.icon-star-empty:before {
  content: "";
}

.icon-star-full:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-loop2:before {
  content: "";
}

.icon-arrow-up2:before {
  content: "";
}

.icon-arrow-right2:before {
  content: "";
}

.icon-arrow-down2:before {
  content: "";
}

.icon-arrow-left2:before {
  content: "";
}

/* HEADER */
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  padding: 0 16px;
  background: white;
  box-shadow: 0 -2px 16px #e0e0e0;
  z-index: 99;
}
@media screen and (min-width: 320px) {
  .header {
    padding: 0 calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  .header {
    padding: 0 60px;
  }
}
.header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: -1;
}
.header__menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.header__menu__navigation, .header__menu__btns {
  display: flex;
  justify-content: flex-end;
  margin-left: 2.5rem;
}
.header__menu__navigation li {
  padding: 0 15px;
}
.header__menu__btns li {
  padding: 0 5px;
}
.header__menu__btns li:last-child {
  padding-right: 0;
}
.header__menu li {
  padding: 0 15px;
  cursor: pointer;
}
.header__menu li a.link {
  display: block;
  color: black;
  line-height: 1;
  text-decoration: none;
  transition: all 0.3s ease-out;
  z-index: 1;
}
.header__menu li a.link:before {
  content: "";
  position: absolute;
  background-color: #fdca6a;
  z-index: -1;
  width: 0;
  height: 55%;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: all 0.3s;
}
.header__menu li a.link:hover:before, .header__menu li a.link:focus:before {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__hamburger {
  position: absolute;
  width: 40px;
  height: 44px;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 999;
}
.header__hamburger .line {
  height: 4px;
  background: black;
  margin: 8px auto;
  backface-visibility: hidden;
  transition: all 0.3s ease-out;
}
.header__hamburger.active .line__one {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
.header__hamburger.active .line__two {
  opacity: 0;
}
.header__hamburger.active .line__three {
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}
@media screen and (max-width: 1024px) {
  .header__hamburger {
    visibility: visible;
    opacity: 1;
  }
}
.header__mobile-menu {
  z-index: 1;
  position: absolute;
  top: 6rem;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: table;
}
.header__mobile-menu__items {
  display: table-cell;
  height: 50px;
  padding-bottom: 3rem;
  vertical-align: middle;
}
.header__mobile-menu__items li {
  display: block;
  text-align: center;
  padding: 20px 0;
  text-align: center;
  min-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.header__mobile-menu__navigation li:hover a {
  transition: all 0.3s ease-out;
  color: #fdca6a;
}
.header__mobile-menu__btns li {
  padding: 5px;
}
.header__mobile-menu.active {
  visibility: visible;
  opacity: 0.99;
}
@media screen and (min-width: 1025px) {
  .header__mobile-menu {
    visibility: hidden !important;
  }
}

/* FOOTER */
.footer {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  height: 651px;
  padding: 0 15px;
}
@media screen and (min-width: 320px) {
  .footer {
    padding: 0 calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    padding: 0 40px;
  }
}
.footer__left, .footer__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer h2 {
  color: white;
  padding-bottom: 2rem;
}
.footer h2 span {
  font-family: "ObjectSans-Thin";
}
.footer p {
  color: white;
  padding-bottom: 2rem;
}
.footer p span {
  font-family: "ObjectSans-Thin";
}
.footer__left {
  justify-content: flex-end;
}
.footer__left .social {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  display: none;
  visibility: hidden;
}
.footer__left .social ul {
  margin: 0;
  padding: 0;
}
.footer__left .social li {
  padding: 7px 10px;
}
.footer__left .social li a {
  color: #fdca6a;
  list-style-type: none;
}
.footer__left .social li a:before {
  font-size: 2.2rem;
}
.footer__left .social li a:hover {
  color: #fcaf1f;
}
.footer__left .logo a {
  padding: 0;
}
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 0 5rem;
}
.footer__right .textbox {
  display: inline-block;
  margin: 4px 2px;
  padding: 15px 32px;
  color: black;
  font-size: 16px;
}

/* SECTIONS */
.hero {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/images/hero_image.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  text-align: right;
  line-height: 0.5;
}
.hero h1 span {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 80px;
  font-family: "ObjectSans-Regular";
}

.headline-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline-block::after {
  content: "";
  display: flex;
  height: 2px;
  background-color: black;
  width: 80%;
}
.headline-block h2 {
  text-align: center;
  padding: 6rem 0;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .headline-block h2 {
    padding: calc(96px + (240 - 96) * ((100vw - 320px) / (1920 - 320))) 0;
  }
}
@media screen and (min-width: 1920px) {
  .headline-block h2 {
    padding: 15rem 0;
  }
}

.cta-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 4rem;
  background-color: black;
}
@media screen and (min-width: 320px) {
  .cta-block {
    padding: calc(64px + (96 - 48) * ((100vw - 320px) / (1920 - 320))) 0 64px;
  }
}
@media screen and (min-width: 1920px) {
  .cta-block {
    padding: 6rem 0 3rem;
  }
}
.cta-block h2 {
  color: white;
  padding-bottom: 2rem;
}
.cta-block h2 span {
  font-family: "ObjectSans-Thin";
}

.article-blocks {
  display: flex;
  flex-direction: column;
}
.article-blocks__item {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 0;
}
.article-blocks__item.item--1 {
  flex: max(200px, 100% / 3 - 20px);
}
.article-blocks__item.item--2 {
  flex-direction: row-reverse;
}
.article-blocks__item.item--3 {
  flex-direction: column-reverse;
}
.article-blocks .headline-block {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.article-blocks .headline-block h2 {
  margin-bottom: 2rem;
  text-transform: lowercase;
}

.marquee {
  max-width: 100%;
}
.marquee__inner {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  transition: all 0.2s ease;
}
.marquee h3 {
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.btn {
  display: inline-block;
  margin: 4px 2px;
  padding: 15px 32px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}
.btn--outline {
  background-color: white;
  color: black;
}
.btn--solid {
  background-color: black;
  color: white;
}
.btn--accent {
  background-color: #fdca6a;
  color: black;
}
.btn:hover.btn--outline {
  background-color: #c4c4c4;
}
.btn:hover.btn--solid {
  background-color: #c4c4c4;
  color: black;
}

/*# sourceMappingURL=style.css.map */
