@import '/node_modules/modern-normalize/modern-normalize.css';
/* FONTS */
@font-face {
  font-family: "ObjectSans-Thin";
  src: url("/assets/fonts/object-sans/ObjectSans-Thin.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Thin.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Thin.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Thin.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Thin.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Thin.svg#ObjectSans-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "/assets/fonts/object-sans/ObjectSans-Regular";
  src: url("/assets/fonts/object-sans/ObjectSans-Regular.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Regular.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Regular.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Regular.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Regular.svg#ObjectSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "/assets/fonts/object-sans/ObjectSans-Bold";
  src: url("/assets/fonts/object-sans/ObjectSans-Bold.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Bold.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Bold.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Bold.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Bold.svg#ObjectSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "/assets/fonts/object-sans/ObjectSans-Heavy";
  src: url("/assets/fonts/object-sans/ObjectSans-Heavy.eot");
  src: url("/assets/fonts/object-sans/ObjectSans-Heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/object-sans/ObjectSans-Heavy.woff2") format("woff2"), url("/assets/fonts/object-sans/ObjectSans-Heavy.woff") format("woff"), url("/assets/fonts/object-sans/ObjectSans-Heavy.ttf") format("truetype"), url("/assets/fonts/object-sans/ObjectSans-Heavy.svg#ObjectSans-Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ICON FONTS */
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icon-fonts/icomoon.eot?lpuwsi");
  src: url("/assets/fonts/icon-fonts/icomoon.eot?lpuwsi#iefix") format("embedded-opentype"), url("/assets/fonts/icon-fonts/icomoon.ttf?lpuwsi") format("truetype"), url("/assets/fonts/icon-fonts/icomoon.woff?lpuwsi") format("woff"), url("/assets/fonts/icon-fonts/icomoon.svg?lpuwsi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/** BASE STYLES **/
html {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1 {
  font-family: "ObjectSans-Bold";
  font-size: 288px;
}

/* ICONS */
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-media_twitter_icon:before {
  content: "\e900";
}

.icon-mail_social-media_icon:before {
  content: "\e901";
}

.icon-intsagram_social-media_icon:before {
  content: "\e902";
}

.icon-facebook_social-media_icon:before {
  content: "\e903";
}

.icon-image:before {
  content: "\e90d";
}

.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-glass:before {
  content: "\e9a0";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__nav li {
  display: inline-block;
}
.header__btns {
  display: inline-block;
  justify-self: flex-end;
}

/* FOOTER */
.marquee {
  position: relative;
  width: 100%;
  font-size: 160px;
  text-transform: uppercase;
  white-space: nowrap;
  color: red;
  overflow: hidden;
}
.marquee h3 {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  animation: marquee 8s linear infinite;
  animation-play-state: paused;
  will-change: transform;
}
.marquee h3:hover {
  animation-play-state: paused;
}

/*.marquee {
  font-size: 120px;
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;
  animation: marqueeL 5s linear infinite;
  animation-play-state: running
}*/
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeL {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeR {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* SECTIONS */
section .container {
  margin: 3rem;
}
section .hero {
  background-image: url("/assets/images/hero.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
