/* FOOTER */
.footer {
  background-color: $black;
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 15px;
  margin-top: 4rem;

  @media screen and (min-width: 320px) {
    padding: 40px calc(15px + (120 - 15) * ((100vw - 320px) / (1440 - 320)));
  }
  @media screen and (min-width: 1440px) {
    padding: 40px 120px;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  /* Left footer styles */
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__logo a {
    padding: 0;
  }

  &__page-links {
    width: 100%;
    display: inline-block;

    a {
      color: $white;

      &:hover {
        color: $accent-color_red;
      }
    }
  }

  &__social {
    display: inline;
    width: 100%;

    ul li {
      display: inline-block;

      a {
        &:before {
          font-size: 2.2rem;
          color: $accent-color_yellow;
          transition: all 0.3s ease-in-out;
        }

        &:hover::before {
          color: $accent-color_red;
        }
      }
    }
  }

  /* Right footer styles */
  &__right {
    justify-content: center;
    align-items: flex-start;

    h2 {
      color: $white;
      padding-bottom: 2rem;

      span {
        font-family: $font-light;
      }
    }

    p {
      color: $white;

      span {
        font-family: $font-light;
      }
    }

    .textbox {
      width: 100%;
      display: block;
      margin: 4px 2px;
      padding: 15px 60px;
      color: $font-color_primary;
      font-size: 16px;
    }

    .btn {
      transition: all 0.3s ease-in-out;
    }
  }
}
