/* FOOTER */
.footer {
  display: flex;
  flex-wrap: nowrap;
  height: 651px;
  padding: 0 15px;
  background-image: url("/assets/images/footer-image.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 320px) {
    padding: 0 calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    padding: 0 40px;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__left {
    justify-content: flex-end;
  }

  &__right {
    justify-content: center;
  }
}
