/* FOOTER */
.footer {
  background-color: $gray;
  display: flex;
  flex-wrap: nowrap;
  height: 651px;
  padding: 0 15px;

  @media screen and (min-width: 320px) {
    padding: 0 calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    padding: 0 40px;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__left {
    justify-content: flex-end;

    .social {
      position: fixed;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      display: none;
      visibility: hidden;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        padding: 7px 10px;

        a {
          color: $accent-color;
          list-style-type: none;

          &:before {
            font-size: 2.2rem;
          }

          &:hover {
            color: darken($accent-color, 15%);
          }
        }
      }
    }

    .logo a {
      padding: 0;
    }
  }

  &__right {
    justify-content: center;
  }
}
