/* SECTIONS */
section {
  position: relative;

  &.container {
    margin: 3rem;
  }

  &.hero {
    height: 100vh;
    background-image: url("/assets/images/hero_image.jpg");
    background-color: #cccccc;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      position: absolute;
      bottom: 0;
      right: -1.2rem;
      line-height: 0.75;
    }
  }
}
