// Font Family
$font-light: 'ObjectSans-Thin';
$font-regular: 'ObjectSans-Regular';
$font-bold: 'ObjectSans-Bold';
$font-heavy: 'ObjectSans-Heavy';

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(196, 196, 196);

// Font-colors
$font-color_primary: $black;
$font-color_secondary: $white;

$background-color_primary: $white;
$background-color_secondary: $black;

$accent-color: rgb(253, 202, 106);
