@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icon-fonts/icomoon.eot?lpuwsi");
  src: url("/assets/fonts/icon-fonts/icomoon.eot?lpuwsi#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/icon-fonts/icomoon.ttf?lpuwsi") format("truetype"),
    url("/assets/fonts/icon-fonts/icomoon.woff?lpuwsi") format("woff"),
    url("/assets/fonts/icon-fonts/icomoon.svg?lpuwsi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
