/* ICONS */
[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-media_twitter_icon:before {
  content: '\e900';
}
.icon-mail_social-media_icon:before {
  content: '\e901';
}
.icon-intsagram_social-media_icon:before {
  content: '\e902';
}
.icon-facebook_social-media_icon:before {
  content: '\e903';
}
.icon-image:before {
  content: '\e90d';
}
.icon-coin-dollar:before {
  content: '\e93b';
}
.icon-glass:before {
  content: '\e9a0';
}
.icon-star-empty:before {
  content: '\e9d7';
}
.icon-star-full:before {
  content: '\e9d9';
}
.icon-cross:before {
  content: '\ea0f';
}
.icon-loop2:before {
  content: '\ea2e';
}
.icon-arrow-up2:before {
  content: '\ea3a';
}
.icon-arrow-right2:before {
  content: '\ea3c';
}
.icon-arrow-down2:before {
  content: '\ea3e';
}
.icon-arrow-left2:before {
  content: '\ea40';
}
