/* TYPOGRAPHY */
/* Heading styles */
h1,
h2,
h3,
h4 {
  color: $font-color_primary;
  font-family: $font-bold;
  margin: 0;
  padding: 0;

  .accent-color {
    color: $accent-color_red;
  }
}

h1,
.h1 {
  padding-right: 20px;
  color: $font-color_white;
  font-size: 113px;
  line-height: 0.8;

  @media screen and (min-width: 320px) {
    font-size: calc(113px + (288 - 113) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 288px;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 1.2;

  @media screen and (min-width: 320px) {
    font-size: calc(28px + (80 - 28) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 80px;
  }
}

h3,
.h3 {
  font-size: 64px;

  @media screen and (min-width: 320px) {
    font-size: calc(64px + (160 - 64) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 160px;
  }
}

/* Paragraph styles */
p {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.6;

  @media screen and (min-width: 320px) {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 20px;
  }
}

/* Anchor styles */
a {
  position: relative;
  padding: 10px 5px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}
