/* TYPOGRAPHY */
/* Heading styles */
h1,
h2,
h3,
h4 {
  font-family: 'ObjectSans-Bold';
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 113px;

  @media screen and (min-width: 320px) {
    font-size: calc(113px + (600 - 113) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 600px;
  }
}

h2 {
  font-size: 40px;

  @media screen and (min-width: 320px) {
    font-size: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 50px;
  }
}

h3 {
  font-size: 64px;

  @media screen and (min-width: 320px) {
    font-size: calc(64px + (160 - 64) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 160px;
  }
}

/* Paragraph styles */
p {
  font-family: 'ObjectSans-Regular';
  font-size: 16px;
  line-height: 1.6;

  @media screen and (min-width: 320px) {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  }
  @media screen and (min-width: 1920px) {
    font-size: 20px;
  }
}

/* Anchor styles */
a {
  position: relative;
  padding: 10px 5px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}
